@charset "UTF-8";

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
	font-weight: 900;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter-Italic.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
	font-weight: 800;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
	font-weight: 600;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
	font-weight: 100;
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
	font-weight: 200;
}

@font-face {
	font-family: "PT_Serif";
	font-display: swap;
	src: url("../fonts/PT_Serif-Regular.woff2") format("woff2"), url("../fonts/PT_Serif-Regular.woff") format("woff");
	font-weight: 400;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	width: 100%;
	border: 0;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	margin: 0;
	padding: 0;
}

main {
	display: block;
	padding-top: 70px;
	border-left: 13px solid #0085FF;
	border-right: 13px solid #0085FF;
	position: relative;
}

main:before {
	content: "";
	background: #FFC700;
	position: absolute;
	left: -13px;
	width: 13px;
	bottom: 0px;
	z-index: 1;
	top: 50%;
}

main:after {
	content: "";
	background: #FFC700;
	position: absolute;
	right: -13px;
	width: 13px;
	bottom: 0px;
	z-index: 1;
	top: 50%;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	text-decoration: none;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type=checkbox],
[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
	border: 0;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	line-height: 1;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
	display: block;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

table caption,
table th,
table td {
	text-align: left;
	vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a img {
	border: 0;
}

ul,
li {
	list-style-type: none;
}

:focus {
	outline: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: 0;
}

.gm-style img {
	max-width: none;
}

.footer {
	background: #222222;
	padding: 15px 0;
}

.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 10px;
}

.footer__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer__modal {
	margin-right: 15px;
}

.footer__phone {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.1;
}

.footer__copyright {
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
}

.header {
	padding-top: 12px;
	padding-bottom: 15px;
	transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 70;
	background: #fff;
}

.header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header.border-border {
	box-shadow: 0 2px 30px rgb(0 0 0 / 15%);
}

.header .custom-logo {
	margin-right: 43px;
}

.header .mobile {
	display: none;
}

.header__phone {
	margin-right: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
}

@media (max-width: 479px) {
	.header__phone {
		display: none;
	}

}

.header__lang-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__lang-menu li {
	margin-left: 4px;
	margin-right: 4px;
	font-size: 0;
}

.header__item-menu {
	margin-right: 2px;
	margin-left: 2px;
}

.header__item-menu a {
	background: #f4f4f4;
	border-radius: 30px;
	padding: 4px 12px;
	gap: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	color: #222222;
}

.header__item-menu a:hover {
	background: #222222;
	color: #f4f4f4;
}

.header__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 12px;
}

.header .active a {
	text-decoration: underline;
}

.header__item {
	margin-left: 12px;
	margin-right: 12px;
}

.header__item a {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
}

.header__item a:hover {
	text-decoration: underline;
}

.toggle-menu {
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: relative;
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: #0094fc;
	width: 30px;
	left: 0px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.toggle-menu i:nth-child(1) {
	top: 6px;
}

.toggle-menu i:nth-child(2) {
	top: 14px;
}

.toggle-menu i:nth-child(3) {
	top: 22px;
}

.toggle-menu.active i:nth-child(1) {
	top: 15px;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
}

.toggle-menu.active i:nth-child(2) {
	background: transparent;
}

.toggle-menu.active i:nth-child(3) {
	top: 15px;
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotateZ(-45deg);
}

.nav-active {
	overflow: hidden;
}

body {
	background-color: #f4f4f4;
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.icon {
	display: block;
}

svg {
	width: 100%;
	height: 100%;
}

.svg-lesser-icon-dims {
	width: 10px;
	height: 17px;
}

.btn {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 12px 24px;
	gap: 14px;
	background: -o-linear-gradient(177.78deg, #ffeb83 -12.32%, #46a0ff 95.55%);
	background: linear-gradient(272.22deg, #ffeb83 -12.32%, #46a0ff 95.55%);
	border-radius: 30px;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.btn:hover {
	background: -o-linear-gradient(177.78deg, #ffd700 -12.32%, #007cff 95.55%);
	background: linear-gradient(272.22deg, #ffd700 -12.32%, #007cff 95.55%);
}

.custom-logo {
	width: 175px;
	height: 41px;
}

h2 {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.3;
	color: #000000;
}

.hero {
	margin-bottom: 62px;
}

.about-us {
	margin-bottom: 99px;
}

.about-us .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.about-us__content {
	max-width: 631px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.about-us__title {
	margin-bottom: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.about-us__title img {
	height: 41px;
	width: 32px;
	margin-left: 22px;
}

.about-us__content p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 15px;
	background: #FFFFFF;
	border-radius: 24px;
	padding: 12px 18px;
}

.about-us__content p:last-of-type {
	margin-bottom: 0;
}

.about-us__galery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin: -12px;
}

.about-us__picture {
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	margin: 12px;
	height: 182px;
	width: 302px;
}

.about-us__picture:before {
	content: "";
	background-color: #0085ff;
	position: absolute;
	top: 0;
	right: 0;
	width: 13px;
	bottom: 0;
	z-index: 1;
}

.about-us__picture:after {
	content: "";
	background-color: #ffc700;
	position: absolute;
	top: 50%;
	right: 0;
	width: 13px;
	bottom: 0;
	z-index: 1;
}

.about-us__picture img {
	position: absolute;
	top: 0px;
	height: auto;
	width: 100%;
	max-width: inherit;
}

.about-us__picture:last-of-type {
	margin-right: 0;
}

.photo-report {
	margin-bottom: 61px;
}

.photo-report__title {
	margin-bottom: 23px;
}

.help {
	margin-bottom: 62px;
}

.help__title {
	margin-bottom: 22px;
}

.help__gallery {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-left: -12px;
	margin-right: -12px;
}

.help__gallery > div {
	margin: 11px 12px;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 31.3%;
	flex: 0 1 31.3%;
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	max-height: 278px;
}

.help__gallery img {
	max-height: 278px;
}

.help__item {
	position: absolute;
	bottom: 0;
	margin: 0px 24px 24px;
	width: calc(100% - 48px);
	z-index: 1;
}

.help__item-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	color: #ffffff;
	margin-bottom: 12px;
}

.help__item-desc {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.2;
	color: #ffffff;
}

.help__shadow {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 50%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	transition: ease-in-out 0.1s;
}

.requisites {
	margin-bottom: 47px;
	position: relative;
}

.requisites__card {
	background: #F4F4F4;
	border: 1px solid #111111;
	border-radius: 8px;
	padding: 26px 24px 19px 29px;
}

.requisites__chip {
	margin-bottom: 15px;
}

.requisites__number-card {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.405em;
	color: #111111;
	margin-bottom: 25px;
}

.requisites__payment {
	display: flex;
	align-items: center;
	justify-content: end;
}

.requisites__payment img:first-of-type {
	margin-right: 23px;
}

.requisites__title {
	margin-bottom: 45px;
}

.tooltip {
	position: absolute;
	right: 0px;
	background: #0085FF;
	padding: 8px 10px;
	border-radius: 8px;
	font-size: 16px;
	display: none;
	color: #fff;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 160px;
	text-align: center;
	bottom: 20px;
}

.open-tooltip {
	display: block;
}

.paypal-logo {
	margin-right: 38px;
}

.copy-row-number {
	display: flex;
	align-items: center;
	position: relative;
}

.content:after {
	content: "";
	display: inline-block;
	background: url("../img/copy-icon.png") no-repeat;
	position: relative;
	height: 24px;
	width: 20px;
	margin-left: 15px;
	cursor: pointer;
	flex-shrink: 0;
}

.requisites__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: flex-start;
}

.requisites__bank-title {
	margin-bottom: 22px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #111;
}

.requisites .table {
	max-width: 761px;
	flex-grow: 1;
	background: #fff;
	padding: 25px 24px 13px 24px;
	border-radius: 24px;
}

.requisites .table__title {
	margin-bottom: 13px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #111;
}

.table__card {
	display: flex;
	align-items: center;
	margin-bottom: 13px;
}

.bank-number {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.4px;
	border: 0;
	background: transparent;
	color: #111111;
	display: flex;
	align-items: center;
}

.table.hide {
	display: none;
}

.table__card .copy-field {
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 5px;
}

.table__card .copy-field:hover {
	background: #f0f0f0;
	border-radius: 3px;
}

.table__card .bank-picture {
	margin-right: 26px;
}

.requisites .table__desc {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #222;
	margin-bottom: 26px;
}

.requisites .table__border {
	width: 100%;
	max-width: 389px;
	height: 2px;
	background: #d7d7d7;
	margin-bottom: 24px;
}

.ukraine-grn .content-inside {
	display: flex;
	flex-flow: wrap;
}

.ukraine-grn div p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 15px;
	width: 50%;
}

.ukraine-grn div p:nth-of-type(2n+1) {
	font-weight: 700;
}

.requisites .table__border:last-of-type {
	margin-bottom: 20px;
}

.requisites .table__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 24px;
}

.requisites .table__row:first-of-type {
	margin-bottom: 21px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.requisites .table__row-name {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #111111;
	min-width: 217px;
}

.requisites .table__row-address {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #111111;
}

.off-document {
	margin-bottom: 73px;
}

.off-document__title {
	margin-bottom: 38px;
}

.report {
	padding-bottom: 73px;
}

.report__title {
	margin-bottom: 15px;
}

.requisites__bank-card {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #111111;
}

.requisites__bank-card img {
	margin-right: 15px;
}

.report__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -33px;
	margin-right: -33px;
}

.report__item {
	margin: 20px 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.report__item .svg-file-icon-dims {
	width: 35px;
	height: 40px;
	margin-right: 26px;
}

.report__item a {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	border-bottom: 1px solid #0085ff;
	color: #0085ff;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.report__item a:hover {
	border-bottom: 1px solid transparent;
}

.parthners {
	margin-bottom: 43px;
}

.parthners__title {
	margin-bottom: -38px;
}

.form .radio-gruap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	margin-left: -9px;
	margin-right: -9px;
	max-width: 517px;
	margin-bottom: 18px;
}

.form input[type=radio] {
	display: none;
}

.form label {
	border: 1px solid #111111;
	border-radius: 810px;
	display: block;
	padding: 20px 29px;
	background: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	color: #2c2c2c;
	margin: 10px 9px;
}

.form label span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.form input:checked + label {
	background: #111;
	color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.form .input-field {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	border: 1px solid #111111;
	border-radius: 810px;
	padding: 20px 29px;
	color: #2c2c2c;
	margin: 10px 9px;
	max-width: 152px;
}

.form .input-field::-webkit-input-placeholder {
	color: #2c2c2c;
}

.form .input-field::-moz-placeholder {
	color: #2c2c2c;
}

.form .input-field:-ms-input-placeholder {
	color: #2c2c2c;
}

.form .input-field::-ms-input-placeholder {
	color: #2c2c2c;
}

.form .input-field::placeholder {
	color: #2c2c2c;
}

.form .input-group {
	margin-bottom: 13px;
}

.form .input-group:last-of-type {
	margin-bottom: 21px;
}

.form .input-group input {
	background: #e5e5e5;
	border-radius: 810px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 20px 30px;
	gap: 10px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #111111;
	border: 0;
	outline: none;
	width: 100%;
	max-width: 429px;
}

.form .input-group input::-webkit-input-placeholder {
	color: #2c2c2c;
}

.form .input-group input::-moz-placeholder {
	color: #2c2c2c;
}

.form .input-group input:-ms-input-placeholder {
	color: #2c2c2c;
}

.form .input-group input::-ms-input-placeholder {
	color: #2c2c2c;
}

.form .input-group input::placeholder {
	color: #2c2c2c;
}

.form .form-button {
	cursor: pointer;
	outline: none;
	border: 0;
}

.popup-wrap {
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.7);
}

.popup-wrap .close-popup {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.popup-wrap .close-popup:after {
	display: inline-block;
	content: "×";
	font-size: 24px;
}

.popup-wrap .input-group {
	margin-bottom: 13px;
}

.popup-wrap .input-group,
.popup-wrap .input-group {
	background: #e5e5e5;
	border-radius: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 10px 20px;
	gap: 10px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #111111;
	border: 0;
	outline: none;
	width: 100%;
	max-width: 429px;
}

.popup-wrap textarea::-webkit-input-placeholder,
.popup-wrap input::-webkit-input-placeholder {
	color: #2c2c2c;
}

.popup-wrap textarea::-moz-placeholder,
.popup-wrap input::-moz-placeholder {
	color: #2c2c2c;
}

.popup-wrap textarea:-ms-input-placeholder,
.popup-wrap input:-ms-input-placeholder {
	color: #2c2c2c;
}

.popup-wrap textarea::-ms-input-placeholder,
.popup-wrap input::-ms-input-placeholder {
	color: #2c2c2c;
}

.popup-wrap textarea::placeholder,
.popup-wrap input::placeholder {
	color: #2c2c2c;
}

.popup-wrap .form-button {
	cursor: pointer;
	outline: none;
	border: 0;
	margin: 0 auto;
}

.popup-wrap .content-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
	padding: 40px 20px;
	background: #fff;
	border-radius: 24px;
	position: relative;
}

#sp-wp-carousel-free-id-35.sp-wpcp-35 .wpcp-single-item {
	border: 0;
}

.wpcp-carousel-section.nav-vertical-center {
	padding: 75px 0;
}

.wpcp-carousel-section.nav-vertical-center .slick-next {
	top: 0;
	margin-top: 0;
}

#sp-wp-carousel-free-id-35.sp-wpcp-35 .slick-prev i,
#sp-wp-carousel-free-id-35.sp-wpcp-35 .slick-next i {
	color: #212529;
	background: #DEE2E6;
	border-radius: 60px;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sp-wp-carousel-free-id-35.sp-wpcp-35 .slick-prev i:hover,
#sp-wp-carousel-free-id-35.sp-wpcp-35 .slick-next i:hover {
	color: #fff;
	background: #359AFF;
}

.wpcp-carousel-section .slick-prev,
.wpcp-carousel-section .slick-next {
	width: 32px;
	height: 32px;
}

.wpcp-carousel-section.nav-vertical-center .slick-prev {
	margin-top: 0;
	top: 0;
	left: auto;
	right: 40px;
	text-align: left;
}

/* slider */

.slider-for {
	position: relative;
	z-index: 10;
}

.slide-container {
	box-sizing: border-box;
	overflow: hidden;
}

.slide-btn {
	box-sizing: border-box;
	cursor: pointer;
	background: #fff;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px 18px;
	gap: 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #222222;
	max-width: 236px;
	margin-right: 25px;
}

.slide-btn:hover {
	background: #DEE2E6;
	font-weight: 400;
}

.slide-btn:last-of-type .slick-dots {
	display: none !important;
}

.slider-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
}

.slider-nav .slick-list {
	padding: 0 !important;
	width: 100% !important;
	display: flex;
}

.slider-nav .slick-track {
	width: 100% !important;
	transform: none !important;
}

.slide-container h1 {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
	margin-bottom: 18px;
}

.slide-container p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	color: #FFFFFF;
	margin-bottom: 18px;
}

.slide-container .header__button {
	max-width: 200px;
}

.slider-content {
	position: absolute;
	max-width: 1310px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 1;
}

.slider-for.slick-initialized .slick-slide {
	display: flex;
	align-items: center;
	position: relative;
	height: 418px;
}

.slider-for .slick-slide::before {
	content: "";
	background: rgba(0, 0, 0, .4);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.table .qr-code {
	margin-bottom: 24px;
}

.slider-for.slick-initialized .slick-slide:last-of-type {
	margin-right: 0;
}

.slick-current {
	background: #DEE2E6;
	color: #222222;
}

.slick-prev:before,
.slick-next:before {
	color: #DEE2E6;
	background: #212529;
	border-radius: 100%;
	border: 0;
	outline: none;
	box-shadow: none;
}

.slick-next {
	right: 24px;
	z-index: 1;
}

.slick-prev {
	left: 24px;
	z-index: 1;
}

.slider-for .slick-slide img {
	position: absolute;
	top: 0px;
	height: auto;
	width: 100%;
	max-width: inherit;
}

.nav {
	margin-left: 20px;
	max-width: 411px;
}

.nav li {
	margin-bottom: 18px;
	list-style: disc;
}

.nav li::marker {
	color: #707070;
	font-size: 1.5em;
}

.nav li.active::marker {
	color: #111;
}

.swift .table__desc {
	margin-bottom: 20px;
}

.swift__usd {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.swift__usd img {
	margin-right: 15px;
}

.swift__usd p {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #111111;
}

.table__under-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 20px;
}

.swift > p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 15px;
}

.swift .last {
	margin-bottom: 25px;
}

.nav a {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #707070;
}

.nav .active a {
	color: #111111;
	font-weight: 700;
}

.slider-arrows {
	display: none;
}

.form-page {
	padding: 70px 0;
}

.form-page .title {
	font-size: 48px;
	margin-bottom: 30px;
}

.form-page .wpcf7-form {
	flex-direction: column;
	flex-wrap: wrap;
	display: flex;
	gap: 20px;
	max-width: 600px;
}

.form-page .wpcf7-form .input input {
	width: 100%;
	height: 40px;
	padding: 0 15px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.form-page .wpcf7-form .textarea .wpcf7-form-control-wrap,
.form-page .wpcf7-form .input .wpcf7-form-control-wrap {
	display: block;
	margin-top: 5px;
}

.form-page .wpcf7-form .textarea textarea {
	width: 100%;
	height: 80px;
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid #ccc;
	resize: none;
}

.form-page .wpcf7-form .radio-button {
	width: 100%;
}

.form-page .wpcf7-form .radio-button .wpcf7-list-item .wpcf7-list-item-label {
	font-weight: 400;
}

.form-page .wpcf7-form .radio-button .wpcf7-list-item {
	margin-left: 0;
}

.form-page .wpcf7-form .radio-button .wpcf7-form-control-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 5px;
}

.form-page .wpcf7-form label {
	font-weight: 500;
}

.form-page .left-block {
	width: calc((100% - 20px) / 3);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-page .right-block {
	width: calc((100% - 20px) / 1.5);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-page .right-block .textarea {
	width: 100%;
}

.form-page .left-block .input {
	width: 100%;
}

.form-page .wpcf7-form .radio-button .wpcf7-radio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

/*.form-page .wpcf7-form .file {*/
/*	width: 100%;*/
/*}*/

/*.form-page .wpcf7-form .file p label span{*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: center;*/
/*	justify-content: center;*/
/*	background: url(../img/image-regular.svg), linear-gradient(272.22deg, #ffeb83 -12.32%, #46a0ff 95.55%);*/
/*	height: 40px;*/
/*	border-radius: 30px;*/
/*	width: 120px;*/
/*	background-repeat: no-repeat;*/
/*	background-position: center;*/
/*	background-size: 20px, 100%;*/
/*	cursor: pointer;*/
/*	transition: all 0.3s ease;*/
/*    margin-top: 10px;*/
/*}*/
/*.form-page .wpcf7-form .file p label p{*/
/*    margin-top: 10px;*/
/*}*/
/*.form-page .wpcf7-form .file p label span:hover {*/
/*	background: url(../img/image-regular.svg), linear-gradient(272.22deg, #ffd700 -12.32%, #007cff 95.55%);*/
/*	background-repeat: no-repeat;*/
/*	background-position: center;*/
/*	background-size: 20px, 100%;*/
/*}*/
/*.form-page .wpcf7-form .file input{*/
/*    display: none;*/
/*}*/
/*.form-page .wpcf7-form .radio-button + .left-block + .right-block .textarea textarea {*/
/*	height: 222px;*/
/*}*/

.form-page .wpcf7-form .wpcf7-submit {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 12px 24px;
	gap: 14px;
	background: -o-linear-gradient(177.78deg, #ffeb83 -12.32%, #46a0ff 95.55%);
	background: linear-gradient(272.22deg, #ffeb83 -12.32%, #46a0ff 95.55%);
	border-radius: 30px;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	border: none;
	cursor: pointer;
}

.form-page .wpcf7-form .wpcf7-submit:hover {
	background: -o-linear-gradient(177.78deg, #ffd700 -12.32%, #007cff 95.55%);
	background: linear-gradient(272.22deg, #ffd700 -12.32%, #007cff 95.55%);
}

@media (max-width: 1399px) {

	.slider-for .slick-slide img {
		width: auto;
	}


	.slider-for.slick-initialized .slick-slide {
		justify-content: center;
	}

	.slider-content {
		max-width: 88%;
	}

	.report__list {
		margin-left: 0;
		margin-right: 0;
	}

	.report__item {
		margin: 15px;
	}

	.slider-nav {
		display: none;
	}
}

@media (max-width: 1199px) {

	.requisites__title {
		margin-bottom: 25px;
	}

	.next-arrow {
		margin-left: 5px;
	}

	.prev-arrow {
		margin-right: 5px;
	}

	.slider-arrows {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 30px;
	}

	.arrow-pay {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		cursor: pointer;
		width: 32px;
		height: 32px;
		background: #fff;
		border: 0;
		outline: none;
		border-radius: 50%;
	}

	.arrow-pay i {
		font-size: 30px;
		color: #5C5C5C;
	}

	.about-us__content {
		max-width: 100%;
		-ms-flex-negative: 1;
		flex-shrink: 1;
		margin-bottom: 40px;
	}

	.about-us__galery {
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}

	.nav {
		width: 90vw;
		display: flex;
		max-width: 100%;
	}

	.nav li {
		flex-shrink: 0;
		width: 100%;
		margin-right: 20px;
	}

	.nav li::marker {
		font-size: inherit;
	}

	.slider-for .slick-slide img {
		min-height: 330px;
	}

	.header {
		padding-top: 13px;
		padding-bottom: 16px;
	}

	.header .menu-mobile {
		position: absolute;
		top: 70px;
		left: -100%;
		height: 100vh;
		max-width: 285px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 32px 15px;
		margin: 0;
		background-color: #f4f4f4;
		-webkit-box-shadow: 5px 0px 10px rgba(0, 40, 75, 0.1);
		box-shadow: 5px 0px 10px rgba(0, 40, 75, 0.1);
		-webkit-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		z-index: 11;
	}

	.header__menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		margin-right: 0;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.header__item {
		margin: 0 0 10px 0;
	}

	.toggle-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.about-us .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
	}

	.help__gallery > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 47%;
		flex: 0 1 47%;
	}

	.help__gallery img {
		width: 100%;
		max-height: initial;
	}

	.requisites__bank {
		margin-bottom: 30px;
		position: relative;
	}

	.ukraine-grn .content-inside {
		flex-direction: column;
	}

	.ukraine-grn .content-inside > p {
		width: 100%;
	}

	.requisites__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		align-items: inherit;
		overflow: hidden;
	}

	.requisites .table {
		max-width: 100%;
	}

	.requisites .table__border {
		max-width: 100%;
	}

	.form {
		margin-bottom: 50px;
	}

	.form .radio-gruap {
		max-width: 100%;
	}

	.form .input-group input {
		max-width: 100%;
	}
}

@media (max-width: 805px) {
	.royalSlider {
		width: 100% !important;
	}

	.bank-number {
		font-size: 14px;
	}

	.table__card .bank-picture {
		margin-bottom: 15px;
	}

	.table__card {
		flex-flow: wrap;
	}

	.help__long-desc p {
		font-size: 14px;
	}

	.slide-container p {
		font-size: 12px;
	}

	.slider-content {
		z-index: 1;
	}

	.slider-for .slick-slide::before {
		z-index: 1;
	}

	.slider-for .slick-slide img {
		position: absolute;
		top: 0px;
		height: auto;
		width: auto;
		max-width: inherit;
	}

	.slider-for.slick-initialized .slick-slide {
		height: 250px;
		overflow: hidden;
	}

	.wonderplugincarousel-container {
		padding: 0 !important;
	}

	#wonderplugincarousel-1 .amazingcarousel-prev,
	#wonderplugincarousel-1 .amazingcarousel-next {
		margin-top: -50px !important;
	}

	.photo-report__title,
	.off-document__title {
		margin-bottom: 70px;
	}

	h2 {
		font-size: 26px;
	}

	.slider-for .slick-slide img {
		min-height: 250px;
	}

	.slide-container h1 {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 28px;
		line-height: 1;
	}

	.slide-container p,
	.slide-container h1 {
		text-align: center;
	}

	.slide-container .header__button {
		margin: 0 auto;
	}

	.about-us__galery {
		-ms-flex-negative: 1;
		flex-shrink: 1;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
	}

	.help__gallery > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 80%;
		flex: 0 1 80%;
		max-height: initial;
	}

	.form label {
		padding: 10px 19px;
	}

	.form .input-field {
		padding: 10px 19px;
	}

	.form .input-group input {
		padding: 10px 19px;
	}
}

@media (max-width: 639px) {
	.requisites .table__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.requisites .table__row-address br {
		display: none;
	}

	.requisites .table__row-address {
		word-break: break-all;
		font-size: 16px;
	}
}

@media (max-width: 599px) {
	.nav a {
		display: block;
	}

	main:after {
		right: -5px;
		width: 5px;
	}

	main:before {
		left: -5px;
		width: 5px;
	}

	main {
		border-width: 5px;
	}

	.footer .custom-logo {
		margin-bottom: 15px;
	}

	.footer__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
	}

	.footer__column {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
	}

	.footer__modal {
		margin-bottom: 15px;
		margin-right: 0;
	}

	.footer__phone {
		margin-bottom: 15px;
	}
}

@media (max-width: 579px) {
	.header .custom-logo {
		margin-right: 10px;
	}

	.slick-next {
		right: 5px;
	}

	.slide-container p br {
		display: none;
	}

	.slide-container p,
	.slide-container h1 {
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
	}

	.slick-prev {
		left: 5px;
	}

}

@media (max-width: 479px) {
	.slider-for .slick-slide img {
		min-height: 220px;
	}

	.slide-container h1 {
		font-size: 22px;
	}

	.requisites__bank-card {
		font-size: 22px;
	}

	.requisites__bank-card img {
		width: 50px;
	}

	.requisites__chip {
		width: 37px;
	}

	.requisites__card {
		padding: 10px;
	}

	.requisites__number-card {
		font-size: 22px;
		text-align: center;
		letter-spacing: 0;
		margin-bottom: 15px;
	}

	.header__lang-menu {
		display: none;
	}

	.header .menu-mobile {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
		max-width: 100%;
		top: -100vh;
		left: 0;
		opacity: 0;
		-webkit-transition: opacity 0.3s ease 0s;
		-o-transition: opacity 0.3s ease 0s;
		transition: opacity 0.3s ease 0s;
	}

	.header__menu {
		width: 100%;
		margin-bottom: 30px;
	}

	.nav-active .header .menu-mobile {
		top: 70px;
		opacity: 1;
		width: 100%;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	h2 {
		font-size: 28px;
	}

	.help__gallery > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 90%;
		flex: 0 1 90%;
	}

	.form label {
		margin: 10px 5px;
	}

	.form label span {
		font-size: 14px;
	}
}

.amazingcarousel-image > div {
	opacity: 0 !important;
	font-size: 0 !important;
	width: 0 !important;
	height: 0 !important;
	z-index: -10;
}

.amazingcarousel-next {
	top: 0 !important;
}

.slider-nav .slick-track {
	display: flex;
	justify-content: center;
}

#wpcp-error-message {
	display: none !important;
}

.grecaptcha-badge {
	visibility: hidden;
}

.form .input-field:focus::placeholder {
	color: transparent;
}

.wpcf7 form.sent .wpcf7-response-output {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	bottom: 0;
	text-align: center;
	font-size: 20px;
	position: fixed;
	border: 0;
	top: 0;
	right: 0;
	z-index: 9999;
	margin: 0 !important;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	font-size: 13px;
	display: flex;
	max-width: 340px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: 0;
}

.help__long-desc {
	top: 0;
	z-index: 5;
	position: absolute;
	padding: 24px;
	color: #fff;
	font-family: "Inter", sans-serif;
	opacity: 0;
	transition: ease-in-out 0.2s;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.help__long-desc p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	color: #ffffff;
	flex: 1 1 1px;
}

.help__block:hover .help__item {
	display: none;
}

.help__block:hover .help__long-desc {
	opacity: 1;
	transition: ease-in-out 0.2s;
}

.help__block:hover .help__shadow {
	top: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, .6) 0%, #000000 100%);
	transition: ease-in 0.1s;
}

.custom-carusel .wpcp-carousel-section.slick-initialized .slick-slide {
	overflow: hidden;
	border-radius: 15px;
	max-height: 182px;
	cursor: pointer;
}

.custom-carusel .wpcp-carousel-section.nav-vertical-center {
	padding: 12px 0 38px 0;
}

.custom-carusel .wpcp-carousel-section.wpcp-standard {
	overflow: inherit;
}

.custom-carusel .wpcp-carousel-section.nav-vertical-center .slick-next,
.custom-carusel .wpcp-carousel-section.nav-vertical-center .slick-prev {
	margin-top: -42px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff !important;
	border-radius: 60px;
}

.custom-carusel .wpcp-carousel-section.nav-vertical-center .slick-next i,
.custom-carusel .wpcp-carousel-section.nav-vertical-center .slick-prev i {
	color: #5C5C5C !important;
}

.rsSlide {
	border-radius: 15px;
}

.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
	background: transparent !important;
}

.rsDefaultInv {
	border-radius: 24px;
	margin: 0 auto;
	padding: 25px 20px;
	background: #fff !important;
}